# Dependencies
node_modules/
*/node_modules/

# Production & Build outputs
dist/
*/dist/
.angular/
*/.angular/

# Local databases & environment
*.db
*.db-journal
*.sqlite
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
